PORT=4000
CLIENT_URL=http://localhost:5173
JWT_SECRET=change-this-secret

ADMIN_USERNAME=jeeva@admin
ADMIN_PASSWORD=jeevas

DB_HOST=your-tidb-host
DB_PORT=4000
DB_USER=your-tidb-username
DB_PASSWORD=your-tidb-password
DB_NAME=your-tidb-database
DB_ENABLE_SSL=true
DB_CA_PATH=./ca.pem
